// @import url('https://fonts.googleapis.com/css?family=Roboto+Serif:400,700.css');
// @import url('https://fonts.googleapis.com/css?family=Roboto:400,700.css');

@import 'colors.less';

.app {
  font-family: 'Roboto';
  margin: 5px;
  max-width: 1100px;
  min-width: 500px;
  overflow-x: scroll;
  padding-bottom: 70px;
  position: relative;
  .chart_container {
    font-size: 0;
    display: block;
    margin-bottom: 40px;
    svg {
      margin: auto auto;
      overflow: visible;
      .yaxis {
        display: block;
        line {
          stroke-width: 0.2;
          stroke: rgba(0, 0, 0, 0.5);
        }
        text {
          fill: #7c7067;
          font-size: 12pt;
        }
        path {
          stroke-width: 0.5;
          stroke: rgba(0, 0, 0, 0.5);
        }
      }
      .xaxis {
        @media all and (max-width: 600px) {
          g:nth-child(odd) {
            text {
              opacity: 0;
            }
          }
        }
        @media all and (max-width: 450px) {
          text {
            opacity: 0;
          }
          g:nth-child(3n-1) {
            text {
              opacity: 1;
            }
          }
        }
        path {
          stroke-width: 0;
        }
        text {
          dominant-baseline: central;
          fill: #7c7067;
          font-size: 12pt;
          text-anchor: middle;
        }
      }
    }
  }
  .title_container {
    margin-bottom: 20px;
    .clearfix;
  }
  .info_container {
    float: right;
    a {
    }
    .date_container {
      text-align: right;
    }
    .value_container {
      text-align: right;
    }
  }
  .source_container {
    color: @ungrey;
    font-size: 13px;
    margin-bottom: 5px;
  }
  .unctad_logo {
      position: absolute;
      width: 80px;
      height: 80px;
      z-index: 3;
      right: 10px;
      bottom: 10px;
    }
}

@import 'basics.less';